@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,400;1,500&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
body{
    margin: 0 auto;
    padding: 0;
    background-color: #161618;
    color: #fafafa;
    font-family: 'Montserrat',sans-serif;
    max-width: fit-content;
}
*{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: flex-end;
    gap: 1.25rem;
    align-items: center;
    font-weight: bold;
    background-color: #161618;
    padding: 1.25em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-wrap: wrap;
}
.left{
    font-family: 'Poppins',sans-serif;
}
span{
    color: #ff004f;
}
ul{
    display: flex;
    gap:1em;
}
li{
    list-style-type:none ;
}
a{
    text-decoration: none;
    color: #fafafa; 
}
.hire-btn{
    background-color: #ff004f;
    padding: 1em 2em;
    border-radius: 0.4em;
}
.mid a{
    transition: all 0.4s;
}
.mid a:not(.active):hover{
    color: #ff004f;
}
.active{
    color: #ff004f;
}
.active::after{
    content: ' ';
    display: block;
    height: 3px;
    border-radius: 0.4em;
    width: 100%;
    background-color:#ff004f;
}
.mid a:not(.active):after{
    content: ' ';
    display: block;
    height: 3px;
    border-radius: 0.4em;
    width: 0;
    background-color:#ff004f;
    transition: all 0.3s ease;
}
.mid a:hover::after{
    width: 100%;
}
.title{
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 3em;
    text-align: center;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em auto;
    max-width: 70%
}

.prj{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 30%;
    margin-top: 2em;
}
.projects:hover .prj{
    opacity: 0.5;
    filter: blur(5px);
}
.projects .prj:hover{
    opacity: 1;
    filter: blur(0);
}
.thumbnail{
    border-radius: 2em;
    width: 100%;
    transition: all .2s ease;
}
.thumbnail:hover{
    scale: 1.2;
}
.details{
    padding: 1em 2em;
}
.prj-title{
    display: flex;
    align-items: center;
    gap: 2em;
}
.link{
    margin-top: 1em;
    width: 50%;
}
.link a{
    font-weight: bold;
    font-size: 0.5rem;
    background-color: #ff004f;
    padding: 0.5em 1em;
    border-radius: 1em;
    
}
.cmplt{
    color: greenyellow;
}
.ong{
    color: yellow;
}
.git-link{
    font-weight: bold;
    text-decoration: underline;
}
@media screen and (min-width:769px) and (max-width:1200px) {
    .link a{
        visibility: hidden;
    }
}
@media screen and (max-width:768px){
    .projects{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .thumbnail-row,.thumbnail{
        width: 200%;
    }
    .desc , .link{
        visibility: hidden;
    }
}